html{
    min-height: 100vh;
    padding: 0;
}

header{

}
body{

}
footer{
    height: 10vh;
}

.content-body{
    min-height: 80vh;
}
.home{
    background: url(background.jpg);
}

a{
    text-decoration: none;
    color: black;
}
a:hover {
    color: hotpink;
}

/* selected link */
a:active {
    color: grey;
}
