<div class="row bg-light">
  <div class="col text-center">

  </div>
</div>

<div class="row bg-light">
  <div class="col text-center">
    <p>Grupo DS6 Prácticas| Pablo Rodriguez Avila | Miguel Medina Martinez</p>
    <p>Hair Assistance &copy; 2021</p>
  </div>
</div>